<div class="main">
  <div class="container">
    <div class="mainContent">
      <h1>Дневник здорового питания</h1>
      <p>Дневник питания — это подробный учет всего того, что вы съели в течение дня. Главное
        назначение дневника питания — выработать привычку питаться правильно</p>
      <a routerLink="/diary">
        <button aria-label="Сервисы" class="button">Начать</button>
      </a>
    </div>
  </div>
</div>

<app-main-service></app-main-service>
<app-main-recipe></app-main-recipe>
